@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');
body{
    font-family: 'Smooch Sans', sans-serif;
    background-color: #efefef;
}
.container-main{
    width: 1200px;
    margin: auto;
    background-color: #e0dede;
}
.header-main{
    display: flex;
    justify-content: center;
    background-color: rgb(172, 49, 49);
    color: white;
    font-size: 80px;
    height: 100px;
}
.nav-main{
    display: flex;
    justify-content: space-evenly;
}
.nav-main a{
    font-size: 3em;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.nav-main a:hover{
    background-color: rgb(46, 46, 148);
    color: white;
    cursor: pointer;
}
.cat-main{
    display: flex;
    justify-content: center;
    width: 800px;
}
img{
    width: 100%;
}
.p-main{
    display: block;
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* .section-main{
} */
.header-one{

}
.gallery-main{
    width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.footer-main{
    width: 1200px;
    font-size: 2em;
    background-color: rgb(30, 30, 136);
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
}